<h1>Roadmap</h1>

<div id="roadmap" class="roadmap-dashboard"></div>

<hr style="margin: 48px 0 6px"/>

<div id="sprint_view"></div>

<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    Roadmaps.milestones = new Roadmaps.Milestones(<%= raw Houston::Roadmaps::RoadmapMilestonePresenter.new(@milestones).to_json %>, {parse: true});

    var viewport = new Roadmaps.Viewport({
      start: new Date(<%=raw @range.begin.to_json %>),
      end: new Date(<%=raw @range.end.to_json %>)
    });

    view = new Roadmaps.RoadmapView({
      milestones: Roadmaps.milestones,
      showToday: <%= @show_today %>,
      showThumbnail: false,
      showProgress: true,
      linkMilestones: true,
      viewport: viewport
    });

    view.render();

    var view = new ShowSprintView({
      el: $('#sprint_view')[0],
      height: 200,
      sprintId: <%= @sprint.try(:id).to_json %>,
      sprintStart: new Date(<%= @sprint.start_date.year %>, <%= @sprint.start_date.month - 1 %>, <%= @sprint.start_date.day %>),
      sprintTasks: <%= raw SprintTaskPresenter.new(@sprint).to_json %>
    });

    view.render();

    new Refresher()
      .container('#container')
      .interval(2 * Duration.MINUTE) // 2 minutes
      .callback(function() {
        $.getJSON(window.location.path, function(json) {
          view
            .setStart(App.parseDate(json.start))
            .setTasks(json.tasks)
            .render();

          Roadmap.milestones.reset(response.milestones, {parse: true});
          viewport.set({
            start: new Date(response.range.start),
            end: new Date(response.range.end)
          });
        });
      }).render();
  });
</script>
<% end %>
