<%if @release.pull_requests.any? %>
  <h5 class="release-pull-requests-header">Associated Pull Requests:</h5>

  <div class="release-pull-requests">
    <% @release.pull_requests.each do |pull_request| %>
      <div class="release-pull-request">
        <div class="release-pull-request-title">
          <h3><a href="#" onclick="return togglePullRequestContent(event);"><%= pull_request.title %></a></h3>
          <span class="release-pull-request-link"><%= link_to "view on GitHub", pull_request.url, target: "_blank" %></span>
        </div>
        <div class="release-pull-request-content">
          <div class="release-pull-request-author">
            by <a href="https://github.com/<%= pull_request.username %>" target="_blank">@<%= pull_request.username %></a>
          </div>
          <div class="release-pull-request-labels">
            <% pull_request.labels.each do |label| %>
              <div class="release-pull-request-label" style="background-color: #<%= label["color"] %>;">
                <%= label["name"] %>
              </div>
            <% end %>
          </div>
          <div class="release-pull-request-body">
            <%= gfmdown(pull_request.body) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
