<% content_for :title do %>
<h1 class="project-banner space-below">
  Past Presentations
  <%= link_to nanoconfs_path, class: "project-banner-btn" do %>
    <i class="fa fa-television" aria-hidden="true"></i>
    <span>Upcoming <br />
    Presentations</span>
  <% end %>
</h1>
<% end %>

<div id="presentation-list">
  <% @presentations.each do |presentation| %>
    <div class="presentation">
      <h4><%= presentation.date.strftime("%b %d, %Y") %></h4>
      <div class="presentation-info">
        <h3 class="presentation-title">
          <%= avatar_for(presentation.presenter) %>
          <a href="/nanoconfs/<%= presentation.id %>">
            <%= presentation.title %>
          </a>
        </h3>
        <% if presentation.tags? %>
          <div class="tags">
            <% presentation.tags.each do |tag| %>
              <span class="label"><%= tag %></span>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
