<h1>
  Week of <%= @sprint.start_date.strftime("%B %-d, %Y") %><br/>
  <small>
    <%= link_to "Previous", weekly_report_path(date: 1.week.ago(@sprint.start_date)) %>
    <%= link_to "Next", weekly_report_path(date: 1.week.after(@sprint.start_date)) %>
  </small>
</h1>



<% if @sprint.tasks.count > 1 %>
  <div id="sprint_view"></div>

  <h2 class="light">Tasks <b class="count"><%= @sprint.tasks.count %></b></h2>
  <table class="weekly-report-list">
    <% @sprint.tasks.includes(:project).sort_by { |task| task.project ? task.project.slug : "" }.each do |task| %>
      <tr class="report-sprint-task sprint-task task <%= sprint_task_css(@sprint, task) %>">
        <td class="task-project"><%= project_label(task.project) %></td>
        <td class="task-summary"><%= task.description %></td>
        <td class="task-worker"><%= avatar_for(@checked_out_by[task.id], size: 26) %></td>
        <td class="task-completed-this-week"></td>
      </tr>
    <% end %>
  </table>
<% end %>



<div id="alerts_view"></div>

<h2 class="light">
  Alerts
  <b class="count"><%= @alerts_due.count %></b>

  <%= score_card :large do |s| %>
    <% s.percent "closed on-time<br/>(this week)".html_safe, @alerts_rate %>
  <% end if @alerts_rate %>
</h2>

<table class="weekly-report-list">
  <tbody>
    <% @alerts_due.sort_by { |alert| alert.project ? alert.project.slug : "" }.each do |alert| %>
      <tr class="report-alert houston-alert <%= alert.on_time? ? "success" : "failure" %>" id="alert_<%= alert.id %>" rel="alert" url="<%= alert.url %>">
        <td class="houston-alert-project"><%= project_label(alert.project) %></td>
        <td class="houston-alert-type"><%= icon_for_alert alert %></td>
        <td class="houston-alert-summary"><%= alert.summary %></td>
        <td class="houston-alert-user"><%= avatar_for(alert.checked_out_by, size: 26) %></td>
        <td class="houston-alert-completed-on-time"></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <% @alerts_closed_not_due.sort_by { |alert| alert.project ? alert.project.slug : "" }.each do |alert| %>
      <tr class="report-alert houston-alert" id="alert_<%= alert.id %>" rel="alert" url="<%= alert.url %>">
        <td class="houston-alert-project"><%= project_label(alert.project) %></td>
        <td class="houston-alert-type"><%= icon_for_alert alert %></td>
        <td class="houston-alert-summary"><%= alert.summary %></td>
        <td class="houston-alert-user"><%= avatar_for(alert.checked_out_by, size: 26) %></td>
        <td class="houston-alert-completed-on-time"></td>
      </tr>
    <% end %>
  </tfoot>
</table>



<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    if($('#sprint_view')[0]) {
      var view = new ShowSprintView({
        el: $('#sprint_view')[0],
        sprintId: <%= @sprint.try(:id).to_json %>,
        sprintStart: new Date(<%= @sprint.start_date.year %>, <%= @sprint.start_date.month - 1 %>, <%= @sprint.start_date.day %>),
        sprintTasks: <%= raw SprintTaskPresenter.new(@sprint).to_json %>
      });

      view.render();
    }

    var view = new AlertsOpenedClosedView({
      el: $('#alerts_view')[0],
      data: [<%= raw @alerts_opened_closed.map { |row|
        date = row["day"].to_date
        <<-JavaScript
        { date: new Date(#{date.year}, #{date.month - 1}, #{date.day}),
          opened: #{row["alerts_opened"] || 0},
          closed: #{row["alerts_closed"] || 0} }
        JavaScript
      }.join(",") %>],
      axis: 'week'
    });

    view.render();

    $('[rel="alert"]').pseudoHover().click(function(e) {
      window.location = $(e.target).closest('[rel="alert"]').attr('url');
    });
  });
</script>
<% end %>
