<h1>
  Week of <%= @week.begin.strftime("%B %-d, %Y") %><br/>
  <small>
    <%= link_to "Previous", weekly_report_path(date: 1.week.ago(@week.begin)) %>
    <%= link_to "Next", weekly_report_path(date: 1.week.after(@week.begin)) %>
  </small>
</h1>




<div id="alerts_view"></div>

<h2 class="light">
  Alerts
  <b class="count"><%= @alerts_due.count %></b>

  <%= score_card :large do |s| %>
    <% s.percent "closed on-time<br/>(this week)".html_safe, @alerts_rate %>
  <% end if @alerts_rate %>
</h2>

<table class="weekly-report-list">
  <tbody>
    <% @alerts_due.sort_by { |alert| alert.project ? alert.project.slug : "" }.each do |alert| %>
      <tr class="report-alert houston-alert <%= alert.on_time? ? "success" : "failure" %>" id="alert_<%= alert.id %>" rel="alert" url="<%= alert.url %>">
        <td class="houston-alert-project"><%= project_label(alert.project) %></td>
        <td class="houston-alert-type"><%= icon_for_alert alert %></td>
        <td class="houston-alert-summary"><%= alert.summary %></td>
        <td class="houston-alert-user"><%= avatar_for(alert.checked_out_by, size: 26) %></td>
        <td class="houston-alert-completed-on-time"></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <% @alerts_closed_not_due.sort_by { |alert| alert.project ? alert.project.slug : "" }.each do |alert| %>
      <tr class="report-alert houston-alert" id="alert_<%= alert.id %>" rel="alert" url="<%= alert.url %>">
        <td class="houston-alert-project"><%= project_label(alert.project) %></td>
        <td class="houston-alert-type"><%= icon_for_alert alert %></td>
        <td class="houston-alert-summary"><%= alert.summary %></td>
        <td class="houston-alert-user"><%= avatar_for(alert.checked_out_by, size: 26) %></td>
        <td class="houston-alert-completed-on-time"></td>
      </tr>
    <% end %>
  </tfoot>
</table>



<% content_for :javascripts do %>
<script type="text/javascript">
  $(function() {
    var view = new AlertsOpenedClosedView({
      el: $('#alerts_view')[0],
      data: [<%= raw @alerts_opened_closed.map { |row|
        date = row["day"].to_date
        <<-JavaScript
        { date: new Date(#{date.year}, #{date.month - 1}, #{date.day}),
          opened: #{row["alerts_opened"] || 0},
          closed: #{row["alerts_closed"] || 0} }
        JavaScript
      }.join(",") %>],
      axis: 'week'
    });

    view.render();

    $('[rel="alert"]').pseudoHover().click(function(e) {
      window.location = $(e.target).closest('[rel="alert"]').attr('url');
    });
  });
</script>
<% end %>
